[contentEditable] {
	cursor: text;
}

[contentEditable="true"]:active,
[contentEditable="true"]:focus{
	border: none;
	outline: none;
}

[contenteditable=true]:empty {
	min-width: 5em;
	min-height: 1em;
	display: inline-block;
}
[contenteditable=true]:empty:after {
  content: attr(placeholder);
  opacity: 0.3;
}
